.start {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start::before {
  content: "";
  background-image: url("https://c0.wallpaperflare.com/preview/636/280/954/library-book-ladder-step.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

@media only screen and (max-width: 600px) {
}

.second-home-section {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  background-color: #3c1e6e;
}
