body {
  /* border: solid black; */
  height: 100%;
  background-color: black;
  /* width: 80%; */
  /* margin: auto; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
}

html {
  height: 98%;
  font-family: "Roboto", sans-serif;
}

/* @media only screen and (max-width: 600px) {
  body {
    width: 95%;
  }
} */
